/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700");
@import url("https://use.fontawesome.com/releases/v6.1.2/css/all.css");

/* Components */
/* @import url("components/name_of_component.css"); */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/onglet.css");
@import url("components/menu.css");
@import url("components/card.css");
@import url("components/checkbox.css");
@import url("components/button.css");

body {
  margin: 0;
  margin-bottom: 100px;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  background-color: #F5F5F7;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 50px auto;
}
.page-container {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}
